
                <div class="page-content">
                  <div class="container-fluid">


                      <div class='row pb-2 border-bottom'>
                        <div class='col-md-12'>
                          <a class='btn btn-secondary float-right' routerLink='create'><i class='fa fa-plus'></i> Create Form</a>

                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Forms</li>
                                </ol>
                              </nav>

                        </div>


                      </div>
                      <!-- <formio src="https://iisyskvcoctczgc.form.io/demographics" (submit)="onSubmit($event.value)"></formio> -->
                      <!-- <form-builder [form]="boilerPlate" (change)="onFormBuilderChange"></form-builder> -->

                      <div class="row">
                          <div class="col-12">
                              <div class="card">
                                  <div class="card-body">

                                      <h3 class="card-title">Form Builder</h3>
                                      <p class="card-title-desc">This section provides the option to build custom reusable forms.
                                      </p>

                                      <table id="forms_list" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                          <thead>
                                              <tr>
                                                  <th>#</th>
                                                  <th>Title</th>
                                                  <th>Name</th>
                                                  <th>Display</th>
                                                  <th>Date Created</th>
                                                  <th>Date Modified</th>
                                                  <th>Action</th>
                                              </tr>
                                          </thead>

                                          <tbody>
                                              <tr *ngFor="let project_form of allForms; let i=index">
                                                  <td><b>{{i+1}}</b>.</td>
                                                  <td>{{project_form?.title}}</td>
                                                  <td>{{project_form?.name}}</td>
                                                  <td>{{project_form?.display}}</td>
                                                  <td>{{project_form?.created | date:'mediumDate'}}</td>
                                                  <td>{{project_form?.modified | date:'mediumDate'}}</td>
                                                  <td>
                                                    <div class="btn-group" role="group">
                                                      <button id="xx" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <small><i class="fa fa-cog"></i></small> Manage <i class="mdi mdi-chevron-down"></i>
                                                      </button>
                                                      <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                                          <a class="dropdown-item border-bottom" href="#"><small><b>View <i class='fa fa-eye text-info'></i></b></small></a>
                                                          <a class="dropdown-item border-bottom" href="#"><small><b>Edit <i class='fa fa-edit text-primary'></i></b></small></a>
                                                          <a class="dropdown-item" href="#"><small><b>Delete <i class='fa fa-trash text-danger'></i></b></small> </a>
                                                      </div>
                                                  </div>

                                                  </td>
                                              </tr>

                                              <ng-container *ngIf="!allForms.length">
                                                <tr>
                                                  <td colspan="7" class='text-center'>
                                                    <span *ngIf="!loaders?.fetching">
                                                      No records found.
                                                    </span>
                                                    <span *ngIf="loaders?.fetching">
                                                      Fetching records <div class="spinner"></div>
                                                    </span>
                                                  </td>
                                                </tr>
                                              </ng-container>

                                          </tbody>
                                      </table>

                                  </div>
                              </div>
                          </div>
                          <!-- end col -->
                      </div>
                      <!-- end row -->

                  </div>
                  <!-- container-fluid -->
              </div>
              <!-- End Page-content -->
