
    <body data-sidebar="dark">

        <!-- Loader -->
        <!-- <div id="preloader"><div id="status"><div class="spinner"></div></div></div> -->

        <div id="layout-wrapper">
            <app-dashboard-header></app-dashboard-header>

            <app-dashboard-sidebar></app-dashboard-sidebar>

            <div class="main-content">

              <router-outlet></router-outlet>
              <app-dashboard-footer></app-dashboard-footer>

            </div> <!-- end main content-->


        </div>        <!-- END layout-wrapper -->

    </body>


