/* You can add global styles to this file, and also import other style files */

@import 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import 'assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css';
@import 'assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';
@import "assets/css/bootstrap.min.css";
@import "assets/css/icons.min.css";
@import "assets/css/app.min.css";

