
    <body class="account-bg">

      <!-- Loader -->
      <!-- <div id="preloader"><div id="status"><div class="spinner"></div></div></div> -->

      <div class="account-pages my-5 pt-5">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6 col-xl-5">
                      <div class="card shadow-lg">
                          <div class="card-body">
                              <div class="text-center mt-4">
                                  <div class="mb-3">
                                      <a ><img src="assets/images/logo.png" height="80" alt="logo"></a>
                                  </div>
                              </div>
                              <div class="p-3">
                                  <h4 class="font-size-18 text-muted mt-2 text-center">Welcome Back!</h4>
                                  <p class="text-muted text-center mb-4">Sign in to continue to DynoForms.</p>

                                  <form class="form-horizontal">

                                      <div class="form-group">
                                          <label for="username">Username</label>
                                          <input type="text"  class="form-control" id="username" value="user@codeiq.ng" disabled placeholder="Enter username">
                                      </div>

                                      <div class="form-group">
                                          <label for="userpassword">Password</label>
                                          <input type="password" class="form-control" id="userpassword" value="user123456" disabled placeholder="Enter password">
                                      </div>

                                      <div class="form-group row mt-4">
                                          <div class="col-sm-6">
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" class="custom-control-input" id="customControlInline">
                                                  <label class="custom-control-label" for="customControlInline">Remember me</label>
                                              </div>
                                          </div>
                                          <div class="col-sm-6 text-right">
                                              <button class="btn btn-primary w-md waves-effect waves-light" (click)="forward()" type="button">Log In</button>
                                          </div>
                                      </div>

                                      <div class="form-group mb-0 row">
                                          <div class="col-12 mt-4">
                                              <a class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                                          </div>
                                      </div>
                                  </form>

                              </div>

                          </div>
                      </div>
                      <div class="mt-5 text-center">
                          <p>Don't have an account? <a  class="font-weight-bold text-primary"> Signup Now </a> </p>
                          <p>© 2021 DynoForms. Crafted with <i class="mdi mdi-heart text-danger"></i> by CodeIQ</p>
                      </div>

                  </div>
              </div>
          </div>
      </div>



  </body>

